/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */
:root {
  --font-family: 'Inter';
  --accent-family: 'PressStart2P';
  --font-size: 18px;
  --font-weight: 400;
  --font-weight-bold: 700;
  --logo-font-size: clamp(3.0625rem, 1.9087rem + 4.9231vw, 4.0625rem);
  --title-font-size: clamp(0.875rem, 0.226rem + 2.7692vw, 1.4375rem);
  --page-bg-image: repeating-linear-gradient(to right, #d3d3d3, transparent 2px), repeating-linear-gradient(to bottom, #d3d3d3, transparent 2px), linear-gradient(to bottom, #e7e7e7, #1a1a1a);
  --color: #000;
  --card-width: clamp(20rem, 13.214rem + 33.929vw, 43.75rem);
  --color-stroke: #fff;
  --border-color: #000;
  --color-mix: #fff;
  --contour-color: #000;
  --animation-fill-color: #FF0000;
}